@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Edilecek ishler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Edilecekler Listi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Edileceklerle bagli ishleri burada ede bilersiniz:
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mezmun</th>
                                    <th scope="col">Tarix</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Guncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ToDoListId</td>
                                        <td>@item.Title</td>
                                        <td>@item.Date</td>
                                        <td><a href="/ToDoList/DeleteToDoList/@item.ToDoListId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/ToDoList/UpdateToDoList/@item.ToDoListId" class="btn btn-success">Guncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/ToDoList/CreateToDoList/" class="btn btn-primary">Yeni edilecek ish daxil et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




